<div class="container">

    <div *ngFor = "let todo of todos" class="text-white" >
        <ul class="list-group w-100">
            <li class="list-group-item d-flex justify-contetn-between w-100"  id="item">
                <span>
                    <input (change) = "changeStatus(todo) " type="checkbox" [checked] = "todo.isComplete">
                </span>
                <span  [ngClass]=" {completedTodo : todo.isComplete} "  >
                   {{todo.title }}  
                </span>
                <span [ngClass]=" {completedTodo : todo.isComplete} " >
                   {{todo.date | date }}
                </span>
                <span >
                   <img (click) = "deleteTodo(todo)" class="align-items-left" src="https://i.ibb.co/b5yt64V/trash.gif" alt="" style ="width: 40px;  ">
                 </span>
            </li>
        </ul>
    </div>
</div>

